---
'override:tags': []
layout: layouts/base.njk
permalink: '/links/tags/{{ linkTag | slug }}/'
tmpl: page
pagination:
  data: collections.linkTagList
  size: 1
  alias: linkTag
---

<h1 class=c-page-heading>Links' tag archive: {{ linkTag }}</h1>

{% for post in collections.linkTagCollections[ linkTag ] | reverse %}

  {% if date != post.date | dateFilter %}
    <h2 class="c-tease-group-heading">{{ post.date | dateFilter }}</h2>
    {% set date = post.date | dateFilter %}
  {% endif %}

  {% include "partials/tease-link.njk" %}
{% endfor %}


<!--
<em class="notes-subnote">
  <a href="/links/">See all tags</a> 
  {% for tag in collections.linkTagList %}
    🏷
    <a href="/links/tags/{{ tag | slug }}/">
      {% if linkTag == tag %}<strong>{% endif %}{{ tag | lower }}{% if linkTag == tag %} ⬅</strong>{% endif %}
    </a> 
  {% endfor %}
</em>
-->


