<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matthew Passmore: {{ title }}</title>
    <style>{% include 'css/main.css' %}</style>
  </head>
  <body class="o-wrapper">

    <header class="c-siteheader">
      <a href="/">Matthew Passmore</a>
      <p class="c-siteheader__strapline">Website design &amp; development</p>
      <nav>
        <ul>
          <li><a href="/">Notes</a></li>
          <li><a href="/links/">Links</a></li>
        </ul>
      </nav>
    </header><!-- .c-siteheader -->

    <main>
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>

    <footer class="c-sitefooter">
    </footer><!-- .c-sitefooter -->

  </body>
</html>
