---
layout: layouts/base.njk
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p class="c-tease__meta">
      <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time> <b>//</b>
      {% set comma = joiner() %}
      {% for tag in noteTags %}{{ comma() }} <a href="/notes/tags/{{ tag | slug }}">{{ tag }}</a>{% endfor %}
      {% for tag in linkTags %}{{ comma() }} <a href="/links/tags/{{ tag | slug }}">{{ tag }}</a>{% endfor %}
    </p>
  </header>
  {{ content | safe }}
  <footer>
      <b>//</b>
      {% set comma = joiner() %}
      {% for tag in noteTags %}{{ comma() }} <a href="/notes/tags/{{ tag | slug }}">{{ tag }}</a>{% endfor %}
      {% for tag in linkTags %}{{ comma() }} <a href="/links/tags/{{ tag | slug }}">{{ tag }}</a>{% endfor %}
  </footer>
</article>
