---
override:tags: []
layout: layouts/base.njk
permalink: '/writing/tags/{{ noteTag | slug }}/'
tmpl: page
pagination:
  data: collections.noteTagList
  size: 1
  alias: noteTag
---

<header class="c-archive-header">
  <h1 class="c-page-heading">Writing // {{ noteTag }}</h1>

  {# Insert toggle button here with JS #}

  <div class="o-cluster">
    <ul>
      <li><a href="/">All tags</a></li>
      {% for tag in collections.noteTagList %}
        <li>
          {% if noteTag == tag %}
            <strong>{{ tag | lower }}</strong>
          {% else %}
            <a href="/writing/tags/{{ tag | slug }}/">{{ tag | lower }}</a> 
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div><!-- .o-cluster -->
</header>

{% for post in collections.noteTagCollections[ noteTag ] | reverse %}
  {% include "partials/tease-post.njk" %}
{% endfor %}
