---
override:tags: []
layout: layouts/base.njk
permalink: '/notes/tags/{{ noteTag | slug }}/'
tmpl: page
pagination:
  data: collections.noteTagList
  size: 1
  alias: noteTag
---

<h1 class=c-page-heading>Notes' tag archive: {{ noteTag }}</h1>

{% for post in collections.noteTagCollections[ noteTag ] | reverse %}
  {% include "partials/tease-post.njk" %}
{% endfor %}


<!--
<em class="link-subnote">
  <a href="/notes/">See all tags</a> 
  {% for tag in collections.noteTagList %}
    🏷
    <a href="/notes/tags/{{ tag | slug }}/">
      {% if noteTag == tag %}<strong>{% endif %}{{ tag | lower }}{% if noteTag == tag %} ⬅</strong>{% endif %}
    </a> 
  {% endfor %}
</em>
-->
