---
layout: layouts/base.njk
controller: archive
---

<div class="c-archive">

  <div class="c-archive__header">

    <h1 class="c-archive__title">Links</h1>

    {# Insert toggle button here with JS #}

    <div class="o-cluster">
      <ul class="list-reset">
        {% for tag in collections.linkTagList %}
        <li>
          <a class="c-tag" href="/links/tags/{{ tag | slug }}/">
            <i>#</i>{{ tag | lower }}
          </a> 
        </li>
        {% endfor %}
      </ul>
    </div><!-- .o-cluster -->

  </div><!-- .c-archive__header -->
  
  {% for post in collections.links | reverse %}
  
    {% if date != post.date | dateFilter %}
      <h2 class="c-archive__subtitle">{{ post.date | dateFilter }}</h2>
      {% set date = post.date | dateFilter %}
    {% endif %}
  
    {% include "partials/tease-link.njk" %}
  {% endfor %}

</div><!-- .c-archive -->
