---
layout: layouts/base.njk
---
<header class="c-archive-header">
  <h1 class="c-page-heading">Links</h1>

  {# Insert toggle button here with JS #}

  <div class="o-cluster">
    <ul>
      {% for tag in collections.linkTagList %}
        <li>
          <a href="/links/tags/{{ tag | slug }}/">
            {{ tag | lower }}
          </a> 
        </li>
      {% endfor %}
    </ul>
  </div><!-- .o-cluster -->
</header>

{% for post in collections.links | reverse %}

  {% if date != post.date | dateFilter %}
    <h2 class="c-tease-group-heading">{{ post.date | dateFilter }}</h2>
    {% set date = post.date | dateFilter %}
  {% endif %}

  {% include "partials/tease-link.njk" %}
{% endfor %}
