---
layout: layouts/base.njk
---

<h1 class="c-page-heading">Links</h1>

<!-- use js to inject this button -->
<!--
<button>All tags</button>
<div class="notes-subnote">
  <a href="/links/">See all tags</a> 
  {% for tag in collections.linkTagList %}
    🏷
    <a href="/links/tags/{{ tag | slug }}/">
      {% if linkTag == tag %}<strong>{% endif %}{{ tag | lower }}{% if linkTag == tag %} ⬅</strong>{% endif %}
    </a> 
  {% endfor %}
</div>
-->

{% for post in collections.links | reverse %}

  {% if date != post.date | dateFilter %}
    <h2 class="c-tease-group-heading">{{ post.date | dateFilter }}</h2>
    {% set date = post.date | dateFilter %}
  {% endif %}

  <article class="c-tease c-tease--link">
    <header>
      <h3 class="c-tease__heading">
        <a href="{{ post.data.url }}">{{ post.data.title }}</a>
      </h3>
      <p class="c-tease__meta">
        <b>//</b>
        {% set comma = joiner() %}
        {% for tag in post.data.linkTags %}{{ comma() }} <a href="/links/tags/{{ tag | slug }}">{{ tag }}</a>{% endfor %}
      </p>
    </header>

    {{ post.templateContent | safe }}
  </article><!-- .c-tease -->

{% endfor %}
