.c-siteheader {
  overflow: hidden;
}

.c-siteheader > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1rem;
}

.c-siteheader > * > * {
  margin: 1rem;
}

.c-siteheader__brand {
  text-transform: lowercase;
}

.c-siteheader__brand > :first-child {
  font-weight: 800;
}

.c-siteheader__brand > :first-child::after {
  content: '.';
  color: var(--hotpink);
}

.c-siteheader__brand a {
  text-decoration: none;
}

.c-siteheader__intro a {
  font-weight: 600;
}

.c-siteheader__nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

.c-siteheader__nav li {
  margin-right: var(--step--1);
}

.c-siteheader__nav li + li {
  margin-top: var(--step--3);
}

.c-siteheader__nav li:first-child {
  width: 100%;
}

.c-siteheader__nav li:first-child,
.c-siteheader__nav li:last-child {
  margin-right: 0;
}

.c-siteheader__nav a {
  text-decoration: none;
}

.c-siteheader__nav li:not(:first-child) a::after {
  content: '.';
  color: var(--hotpink);
}
