.c-siteheader {
  overflow: hidden;
}

.c-siteheader > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1rem;
}

.c-siteheader > * > * {
  margin: 1rem;
}

.c-siteheader__brand {
  text-transform: lowercase;
}

.c-siteheader__brand > :first-child {
  font-weight: 800;
}

.c-siteheader__brand > :first-child::after {
  content: '.';
  color: var(--hotpink);
}

.c-siteheader__brand a {
  text-decoration: none;
}

.c-siteheader__intro a {
  font-weight: 600;
}

.c-siteheader__nav {
  @media screen and (max-width: 48rem) {
    width: 100%;
  }
}

.c-siteheader__nav ul {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 48rem) {
    justify-content: flex-end;
    text-align: right;
  }
}

.c-siteheader__nav li {
  margin-right: var(--step--1);

  @media screen and (max-width: 48rem) {
    font-weight: 600;
  }
}

.c-siteheader__nav li:not(:last-child) {
  // margin-top: 0;

  @media screen and (min-width: 48rem) {
    margin-top: 0.5rem;
  }
}

.c-siteheader__nav li:last-child,
.c-siteheader__nav li:nth-last-child(2) {
  @media screen and (min-width: 48rem) {
    margin-right: 0;
  }
}

.c-siteheader__nav a {
  text-decoration: none;
}

.c-siteheader__nav li:not(:last-child) a::after {
  content: '.';
  color: var(--hotpink);
}

.c-siteheader__cta {
  margin-left: auto;

  @media screen and (min-width: 48rem) {
    width: 100%;
    order: -1;
  }
}
