.c-codetitle {
  max-width: var(--measure);
  margin-top: var(--step-1);
}

.c-codetitle > p {
  max-width: none;
  color: var(--light-grey);
  font-family: var(--mono);
  font-size: var(--step--2);
  text-align: right;
}

.c-codetitle + pre {
  margin-top: 0.5rem;
}
