.o-sidebar {
  overflow: hidden;
}

.o-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--sidebar-space, --step--2) / 2 * -1);
}

.o-sidebar > * > * {
  margin: calc(var(--sidebar-space, --step--2) / 2);
  flex-grow: 1;
}

.o-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(var(--sidebar-width, 50%) - var(--sidebar-space, --step--2));
}
