.o-wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--step--2);
  padding-right: var(--step--2);
}

@media (min-width: 48rem) {
  .o-wrapper {
    padding-left: var(--step-5);
    padding-right: var(--step-5);
  }
}
