.bg-transparent {
  background-color: transparent
}

.bg-black {
  background-color: var(--black)
}

.bg-white {
  background-color: var(--white)
}

.bg-primary {
  background-color: var(--primary-color)
}

.bg-secondary {
  background-color: var(--secondary-color)
}

.bg-tertiary {
  background-color: var(--tertiary-color)
}

.bg-cyan {
  background-color: var(--cyan)
}

.bg-hotpink {
  background-color: var(--hotpink)
}

.bg-grey-100 {
  background-color: var(--grey-100)
}

.bg-grey-200 {
  background-color: var(--grey-200)
}

.bg-grey-300 {
  background-color: var(--grey-300)
}

.bg-grey-400 {
  background-color: var(--grey-400)
}

.bg-grey-500 {
  background-color: var(--grey-500)
}

.bg-grey-600 {
  background-color: var(--grey-600)
}

.bg-grey-700 {
  background-color: var(--grey-700)
}

.bg-grey-800 {
  background-color: var(--grey-800)
}

.bg-grey-900 {
  background-color: var(--grey-900)
}

.font-sans {
  font-family: var(--sans-serif)
}

.font-serif {
  font-family: var(--serif)
}

.font-mono {
  font-family: var(--mono)
}

.text-0 {
  font-size: 0
}

.text-100 {
  font-size: var(--step--3)
}

.text-200 {
  font-size: var(--step--2)
}

.text-300 {
  font-size: var(--step--1)
}

.text-400 {
  font-size: var(--step-0)
}

.text-500 {
  font-size: var(--step-1)
}

.text-600 {
  font-size: var(--step-2)
}

.text-700 {
  font-size: var(--step-3)
}

.text-800 {
  font-size: var(--step-4)
}

.text-900 {
  font-size: var(--step-5)
}

.text-1000 {
  font-size: calc(var(--step-5) * 2)
}

.italic {
  font-style: italic
}

.not-italic {
  font-style: normal
}

.font-hairline {
  font-weight: 100
}

.font-thin {
  font-weight: 200
}

.font-light {
  font-weight: 300
}

.font-normal {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.font-black {
  font-weight: 900
}

.leading-3 {
  line-height: .75rem
}

.leading-4 {
  line-height: 1rem
}

.leading-5 {
  line-height: 1.25rem
}

.leading-6 {
  line-height: 1.5rem
}

.leading-7 {
  line-height: 1.75rem
}

.leading-8 {
  line-height: 2rem
}

.leading-9 {
  line-height: 2.25rem
}

.leading-10 {
  line-height: 2.5rem
}

.leading-none {
  line-height: 1
}

.leading-tight {
  line-height: 1.25
}

.leading-snug {
  line-height: 1.375
}

.leading-normal {
  line-height: 1.5
}

.leading-relaxed {
  line-height: 1.625
}

.leading-loose {
  line-height: 2
}

.m-0 {
  margin: 0
}

.m-100 {
  margin: var(--step--3)
}

.m-200 {
  margin: var(--step--2)
}

.m-300 {
  margin: var(--step--1)
}

.m-400 {
  margin: var(--step-0)
}

.m-500 {
  margin: var(--step-1)
}

.m-600 {
  margin: var(--step-2)
}

.m-700 {
  margin: var(--step-3)
}

.m-800 {
  margin: var(--step-4)
}

.m-900 {
  margin: var(--step-5)
}

.m-1000 {
  margin: calc(var(--step-5) * 2)
}

.m-auto {
  margin: auto
}

.-m-100 {
  margin: calc(var(--step--3) * -1)
}

.-m-200 {
  margin: calc(var(--step--2) * -1)
}

.-m-300 {
  margin: calc(var(--step--1) * -1)
}

.-m-400 {
  margin: calc(var(--step-0) * -1)
}

.-m-500 {
  margin: calc(var(--step-1) * -1)
}

.-m-600 {
  margin: calc(var(--step-2) * -1)
}

.-m-700 {
  margin: calc(var(--step-3) * -1)
}

.-m-800 {
  margin: calc(var(--step-4) * -1)
}

.-m-900 {
  margin: calc(var(--step-5) * -1)
}

.-m-1000 {
  margin: calc(var(--step-5) * 2 * -1)
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0
}

.mx-0 {
  margin-left: 0;
  margin-right: 0
}

.my-100 {
  margin-top: var(--step--3);
  margin-bottom: var(--step--3)
}

.mx-100 {
  margin-left: var(--step--3);
  margin-right: var(--step--3)
}

.my-200 {
  margin-top: var(--step--2);
  margin-bottom: var(--step--2)
}

.mx-200 {
  margin-left: var(--step--2);
  margin-right: var(--step--2)
}

.my-300 {
  margin-top: var(--step--1);
  margin-bottom: var(--step--1)
}

.mx-300 {
  margin-left: var(--step--1);
  margin-right: var(--step--1)
}

.my-400 {
  margin-top: var(--step-0);
  margin-bottom: var(--step-0)
}

.mx-400 {
  margin-left: var(--step-0);
  margin-right: var(--step-0)
}

.my-500 {
  margin-top: var(--step-1);
  margin-bottom: var(--step-1)
}

.mx-500 {
  margin-left: var(--step-1);
  margin-right: var(--step-1)
}

.my-600 {
  margin-top: var(--step-2);
  margin-bottom: var(--step-2)
}

.mx-600 {
  margin-left: var(--step-2);
  margin-right: var(--step-2)
}

.my-700 {
  margin-top: var(--step-3);
  margin-bottom: var(--step-3)
}

.mx-700 {
  margin-left: var(--step-3);
  margin-right: var(--step-3)
}

.my-800 {
  margin-top: var(--step-4);
  margin-bottom: var(--step-4)
}

.mx-800 {
  margin-left: var(--step-4);
  margin-right: var(--step-4)
}

.my-900 {
  margin-top: var(--step-5);
  margin-bottom: var(--step-5)
}

.mx-900 {
  margin-left: var(--step-5);
  margin-right: var(--step-5)
}

.my-1000 {
  margin-top: calc(var(--step-5) * 2);
  margin-bottom: calc(var(--step-5) * 2)
}

.mx-1000 {
  margin-left: calc(var(--step-5) * 2);
  margin-right: calc(var(--step-5) * 2)
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.-my-100 {
  margin-top: calc(var(--step--3) * -1);
  margin-bottom: calc(var(--step--3) * -1)
}

.-mx-100 {
  margin-left: calc(var(--step--3) * -1);
  margin-right: calc(var(--step--3) * -1)
}

.-my-200 {
  margin-top: calc(var(--step--2) * -1);
  margin-bottom: calc(var(--step--2) * -1)
}

.-mx-200 {
  margin-left: calc(var(--step--2) * -1);
  margin-right: calc(var(--step--2) * -1)
}

.-my-300 {
  margin-top: calc(var(--step--1) * -1);
  margin-bottom: calc(var(--step--1) * -1)
}

.-mx-300 {
  margin-left: calc(var(--step--1) * -1);
  margin-right: calc(var(--step--1) * -1)
}

.-my-400 {
  margin-top: calc(var(--step-0) * -1);
  margin-bottom: calc(var(--step-0) * -1)
}

.-mx-400 {
  margin-left: calc(var(--step-0) * -1);
  margin-right: calc(var(--step-0) * -1)
}

.-my-500 {
  margin-top: calc(var(--step-1) * -1);
  margin-bottom: calc(var(--step-1) * -1)
}

.-mx-500 {
  margin-left: calc(var(--step-1) * -1);
  margin-right: calc(var(--step-1) * -1)
}

.-my-600 {
  margin-top: calc(var(--step-2) * -1);
  margin-bottom: calc(var(--step-2) * -1)
}

.-mx-600 {
  margin-left: calc(var(--step-2) * -1);
  margin-right: calc(var(--step-2) * -1)
}

.-my-700 {
  margin-top: calc(var(--step-3) * -1);
  margin-bottom: calc(var(--step-3) * -1)
}

.-mx-700 {
  margin-left: calc(var(--step-3) * -1);
  margin-right: calc(var(--step-3) * -1)
}

.-my-800 {
  margin-top: calc(var(--step-4) * -1);
  margin-bottom: calc(var(--step-4) * -1)
}

.-mx-800 {
  margin-left: calc(var(--step-4) * -1);
  margin-right: calc(var(--step-4) * -1)
}

.-my-900 {
  margin-top: calc(var(--step-5) * -1);
  margin-bottom: calc(var(--step-5) * -1)
}

.-mx-900 {
  margin-left: calc(var(--step-5) * -1);
  margin-right: calc(var(--step-5) * -1)
}

.-my-1000 {
  margin-top: calc(var(--step-5) * 2 * -1);
  margin-bottom: calc(var(--step-5) * 2 * -1)
}

.-mx-1000 {
  margin-left: calc(var(--step-5) * 2 * -1);
  margin-right: calc(var(--step-5) * 2 * -1)
}

.mt-0 {
  margin-top: 0
}

.mr-0 {
  margin-right: 0
}

.mb-0 {
  margin-bottom: 0
}

.ml-0 {
  margin-left: 0
}

.mt-100 {
  margin-top: var(--step--3)
}

.mr-100 {
  margin-right: var(--step--3)
}

.mb-100 {
  margin-bottom: var(--step--3)
}

.ml-100 {
  margin-left: var(--step--3)
}

.mt-200 {
  margin-top: var(--step--2)
}

.mr-200 {
  margin-right: var(--step--2)
}

.mb-200 {
  margin-bottom: var(--step--2)
}

.ml-200 {
  margin-left: var(--step--2)
}

.mt-300 {
  margin-top: var(--step--1)
}

.mr-300 {
  margin-right: var(--step--1)
}

.mb-300 {
  margin-bottom: var(--step--1)
}

.ml-300 {
  margin-left: var(--step--1)
}

.mt-400 {
  margin-top: var(--step-0)
}

.mr-400 {
  margin-right: var(--step-0)
}

.mb-400 {
  margin-bottom: var(--step-0)
}

.ml-400 {
  margin-left: var(--step-0)
}

.mt-500 {
  margin-top: var(--step-1)
}

.mr-500 {
  margin-right: var(--step-1)
}

.mb-500 {
  margin-bottom: var(--step-1)
}

.ml-500 {
  margin-left: var(--step-1)
}

.mt-600 {
  margin-top: var(--step-2)
}

.mr-600 {
  margin-right: var(--step-2)
}

.mb-600 {
  margin-bottom: var(--step-2)
}

.ml-600 {
  margin-left: var(--step-2)
}

.mt-700 {
  margin-top: var(--step-3)
}

.mr-700 {
  margin-right: var(--step-3)
}

.mb-700 {
  margin-bottom: var(--step-3)
}

.ml-700 {
  margin-left: var(--step-3)
}

.mt-800 {
  margin-top: var(--step-4)
}

.mr-800 {
  margin-right: var(--step-4)
}

.mb-800 {
  margin-bottom: var(--step-4)
}

.ml-800 {
  margin-left: var(--step-4)
}

.mt-900 {
  margin-top: var(--step-5)
}

.mr-900 {
  margin-right: var(--step-5)
}

.mb-900 {
  margin-bottom: var(--step-5)
}

.ml-900 {
  margin-left: var(--step-5)
}

.mt-1000 {
  margin-top: calc(var(--step-5) * 2)
}

.mr-1000 {
  margin-right: calc(var(--step-5) * 2)
}

.mb-1000 {
  margin-bottom: calc(var(--step-5) * 2)
}

.ml-1000 {
  margin-left: calc(var(--step-5) * 2)
}

.mt-auto {
  margin-top: auto
}

.mr-auto {
  margin-right: auto
}

.mb-auto {
  margin-bottom: auto
}

.ml-auto {
  margin-left: auto
}

.-mt-100 {
  margin-top: calc(var(--step--3) * -1)
}

.-mr-100 {
  margin-right: calc(var(--step--3) * -1)
}

.-mb-100 {
  margin-bottom: calc(var(--step--3) * -1)
}

.-ml-100 {
  margin-left: calc(var(--step--3) * -1)
}

.-mt-200 {
  margin-top: calc(var(--step--2) * -1)
}

.-mr-200 {
  margin-right: calc(var(--step--2) * -1)
}

.-mb-200 {
  margin-bottom: calc(var(--step--2) * -1)
}

.-ml-200 {
  margin-left: calc(var(--step--2) * -1)
}

.-mt-300 {
  margin-top: calc(var(--step--1) * -1)
}

.-mr-300 {
  margin-right: calc(var(--step--1) * -1)
}

.-mb-300 {
  margin-bottom: calc(var(--step--1) * -1)
}

.-ml-300 {
  margin-left: calc(var(--step--1) * -1)
}

.-mt-400 {
  margin-top: calc(var(--step-0) * -1)
}

.-mr-400 {
  margin-right: calc(var(--step-0) * -1)
}

.-mb-400 {
  margin-bottom: calc(var(--step-0) * -1)
}

.-ml-400 {
  margin-left: calc(var(--step-0) * -1)
}

.-mt-500 {
  margin-top: calc(var(--step-1) * -1)
}

.-mr-500 {
  margin-right: calc(var(--step-1) * -1)
}

.-mb-500 {
  margin-bottom: calc(var(--step-1) * -1)
}

.-ml-500 {
  margin-left: calc(var(--step-1) * -1)
}

.-mt-600 {
  margin-top: calc(var(--step-2) * -1)
}

.-mr-600 {
  margin-right: calc(var(--step-2) * -1)
}

.-mb-600 {
  margin-bottom: calc(var(--step-2) * -1)
}

.-ml-600 {
  margin-left: calc(var(--step-2) * -1)
}

.-mt-700 {
  margin-top: calc(var(--step-3) * -1)
}

.-mr-700 {
  margin-right: calc(var(--step-3) * -1)
}

.-mb-700 {
  margin-bottom: calc(var(--step-3) * -1)
}

.-ml-700 {
  margin-left: calc(var(--step-3) * -1)
}

.-mt-800 {
  margin-top: calc(var(--step-4) * -1)
}

.-mr-800 {
  margin-right: calc(var(--step-4) * -1)
}

.-mb-800 {
  margin-bottom: calc(var(--step-4) * -1)
}

.-ml-800 {
  margin-left: calc(var(--step-4) * -1)
}

.-mt-900 {
  margin-top: calc(var(--step-5) * -1)
}

.-mr-900 {
  margin-right: calc(var(--step-5) * -1)
}

.-mb-900 {
  margin-bottom: calc(var(--step-5) * -1)
}

.-ml-900 {
  margin-left: calc(var(--step-5) * -1)
}

.-mt-1000 {
  margin-top: calc(var(--step-5) * 2 * -1)
}

.-mr-1000 {
  margin-right: calc(var(--step-5) * 2 * -1)
}

.-mb-1000 {
  margin-bottom: calc(var(--step-5) * 2 * -1)
}

.-ml-1000 {
  margin-left: calc(var(--step-5) * 2 * -1)
}

.max-w-none {
  max-width: none
}

.max-w-long {
  max-width: var(--measure-long)
}

.max-w-short {
  max-width: var(--measure-short)
}

.max-w-compact {
  max-width: var(--measure-compact)
}

.p-0 {
  padding: 0
}

.p-100 {
  padding: var(--step--3)
}

.p-200 {
  padding: var(--step--2)
}

.p-300 {
  padding: var(--step--1)
}

.p-400 {
  padding: var(--step-0)
}

.p-500 {
  padding: var(--step-1)
}

.p-600 {
  padding: var(--step-2)
}

.p-700 {
  padding: var(--step-3)
}

.p-800 {
  padding: var(--step-4)
}

.p-900 {
  padding: var(--step-5)
}

.p-1000 {
  padding: calc(var(--step-5) * 2)
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.py-100 {
  padding-top: var(--step--3);
  padding-bottom: var(--step--3)
}

.px-100 {
  padding-left: var(--step--3);
  padding-right: var(--step--3)
}

.py-200 {
  padding-top: var(--step--2);
  padding-bottom: var(--step--2)
}

.px-200 {
  padding-left: var(--step--2);
  padding-right: var(--step--2)
}

.py-300 {
  padding-top: var(--step--1);
  padding-bottom: var(--step--1)
}

.px-300 {
  padding-left: var(--step--1);
  padding-right: var(--step--1)
}

.py-400 {
  padding-top: var(--step-0);
  padding-bottom: var(--step-0)
}

.px-400 {
  padding-left: var(--step-0);
  padding-right: var(--step-0)
}

.py-500 {
  padding-top: var(--step-1);
  padding-bottom: var(--step-1)
}

.px-500 {
  padding-left: var(--step-1);
  padding-right: var(--step-1)
}

.py-600 {
  padding-top: var(--step-2);
  padding-bottom: var(--step-2)
}

.px-600 {
  padding-left: var(--step-2);
  padding-right: var(--step-2)
}

.py-700 {
  padding-top: var(--step-3);
  padding-bottom: var(--step-3)
}

.px-700 {
  padding-left: var(--step-3);
  padding-right: var(--step-3)
}

.py-800 {
  padding-top: var(--step-4);
  padding-bottom: var(--step-4)
}

.px-800 {
  padding-left: var(--step-4);
  padding-right: var(--step-4)
}

.py-900 {
  padding-top: var(--step-5);
  padding-bottom: var(--step-5)
}

.px-900 {
  padding-left: var(--step-5);
  padding-right: var(--step-5)
}

.py-1000 {
  padding-top: calc(var(--step-5) * 2);
  padding-bottom: calc(var(--step-5) * 2)
}

.px-1000 {
  padding-left: calc(var(--step-5) * 2);
  padding-right: calc(var(--step-5) * 2)
}

.pt-0 {
  padding-top: 0
}

.pr-0 {
  padding-right: 0
}

.pb-0 {
  padding-bottom: 0
}

.pl-0 {
  padding-left: 0
}

.pt-100 {
  padding-top: var(--step--3)
}

.pr-100 {
  padding-right: var(--step--3)
}

.pb-100 {
  padding-bottom: var(--step--3)
}

.pl-100 {
  padding-left: var(--step--3)
}

.pt-200 {
  padding-top: var(--step--2)
}

.pr-200 {
  padding-right: var(--step--2)
}

.pb-200 {
  padding-bottom: var(--step--2)
}

.pl-200 {
  padding-left: var(--step--2)
}

.pt-300 {
  padding-top: var(--step--1)
}

.pr-300 {
  padding-right: var(--step--1)
}

.pb-300 {
  padding-bottom: var(--step--1)
}

.pl-300 {
  padding-left: var(--step--1)
}

.pt-400 {
  padding-top: var(--step-0)
}

.pr-400 {
  padding-right: var(--step-0)
}

.pb-400 {
  padding-bottom: var(--step-0)
}

.pl-400 {
  padding-left: var(--step-0)
}

.pt-500 {
  padding-top: var(--step-1)
}

.pr-500 {
  padding-right: var(--step-1)
}

.pb-500 {
  padding-bottom: var(--step-1)
}

.pl-500 {
  padding-left: var(--step-1)
}

.pt-600 {
  padding-top: var(--step-2)
}

.pr-600 {
  padding-right: var(--step-2)
}

.pb-600 {
  padding-bottom: var(--step-2)
}

.pl-600 {
  padding-left: var(--step-2)
}

.pt-700 {
  padding-top: var(--step-3)
}

.pr-700 {
  padding-right: var(--step-3)
}

.pb-700 {
  padding-bottom: var(--step-3)
}

.pl-700 {
  padding-left: var(--step-3)
}

.pt-800 {
  padding-top: var(--step-4)
}

.pr-800 {
  padding-right: var(--step-4)
}

.pb-800 {
  padding-bottom: var(--step-4)
}

.pl-800 {
  padding-left: var(--step-4)
}

.pt-900 {
  padding-top: var(--step-5)
}

.pr-900 {
  padding-right: var(--step-5)
}

.pb-900 {
  padding-bottom: var(--step-5)
}

.pl-900 {
  padding-left: var(--step-5)
}

.pt-1000 {
  padding-top: calc(var(--step-5) * 2)
}

.pr-1000 {
  padding-right: calc(var(--step-5) * 2)
}

.pb-1000 {
  padding-bottom: calc(var(--step-5) * 2)
}

.pl-1000 {
  padding-left: calc(var(--step-5) * 2)
}

.text-transparent {
  color: transparent
}

.text-black {
  color: var(--black)
}

.text-white {
  color: var(--white)
}

.text-primary {
  color: var(--primary-color)
}

.text-secondary {
  color: var(--secondary-color)
}

.text-tertiary {
  color: var(--tertiary-color)
}

.text-cyan {
  color: var(--cyan)
}

.text-hotpink {
  color: var(--hotpink)
}

.text-grey-100 {
  color: var(--grey-100)
}

.text-grey-200 {
  color: var(--grey-200)
}

.text-grey-300 {
  color: var(--grey-300)
}

.text-grey-400 {
  color: var(--grey-400)
}

.text-grey-500 {
  color: var(--grey-500)
}

.text-grey-600 {
  color: var(--grey-600)
}

.text-grey-700 {
  color: var(--grey-700)
}

.text-grey-800 {
  color: var(--grey-800)
}

.text-grey-900 {
  color: var(--grey-900)
}
