<svg class="display:none">

  <!-- CHEVRON (DOWN) -->
  <symbol id="icon-chevron-down" viewBox="0 0 34 42.5">
    <path fill="currentColor" d="m34 9.5-2.831-3-14.169 15.011-14.169-15.011-2.831 3 16.987 18 .013-.012.013.012z"/>
  </symbol>

</svg>
