<article class="c-tease">
  <h2 class="text-600">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </h2>
  <time class="mt-0" datetime="{{ post.date | w3DateFilter }}">{{ post.date | dateFilter }}</time>
  <p class="[ c-tease__description ] [ mt-100 ]">{{ post.data.description }}</p>
  {#
  {% for tag in post.data.noteTags %}<a href="/writing/tags/{{ tag | slug }}">{{ tag }}</a>{% endfor %}
  #}
</article>
