<article class="o-stack">
  <header>
    <h3>
      <a href="{{ post.data.url }}">{{ post.data.title }}</a>
    </h3>
    <div class="[ c-post__tags ] [ margin-top:none ]">
      <p>Posted in&nbsp;&mdash;&nbsp;</p>
      <div class="o-cluster">
        <ul class="list-reset">
          {% for tag in post.data.linkTags %}<li><a class="c-tag" href="/links/tags/{{ tag | slug }}"><i>#</i>{{ tag }}</a></li>{% endfor %}
        </ul>
      </div>
    </div>
  </header>

  <div class="o-stack">
    {{ post.templateContent | safe }}
  </div>
</article>
